name: Update Bitcoin Version Branch

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.set-tags.outputs.tags }}
    steps:
      - name: Get all Bitcoin Core release tags (only v28.0+)
        id: get_tags
        run: |
          RELEASES=$(curl -s https://api.github.com/repos/bitcoin/bitcoin/releases | jq -r '.[].tag_name' | awk -F'[v.]' '{if ($2 >= 28) print $0}')
          echo "RELEASES=${RELEASES}" >> $GITHUB_ENV

      - name: Set output tags
        id: set-tags
        run: |
          TAGS_JSON=$(echo "$RELEASES" | jq -R -s 'split("\n")[:-1]')
          echo "::set-output name=tags::$TAGS_JSON"

  create-branch:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: ${{fromJson(needs.prepare.outputs.tags)}}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check if branch exists
        id: branch_exists
        uses: GuillaumeFalourd/branch-exists@v1.2
        with:
          branch: ${{ matrix.tag }}

      - name: Create branch if missing
        if: steps.branch_exists.outputs.exists == 'false'
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git checkout -b ${{ matrix.tag }}
          git push origin ${{ matrix.tag }}
