name: Create branches for Bitcoin Core releases (from v28.0)

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.set-tags.outputs.tags }}
    steps:
      - name: Get all Bitcoin Core release tags (only v28.0+)
        id: get_tags
        run: |
          TAGS_JSON=$(curl -s https://api.github.com/repos/bitcoin/bitcoin/releases | \
            jq '[.[].tag_name | select(test("^v([2-9][89]|[3-9][0-9])\\.[0-9]+$|^v28\\.[0-9]+$|^v29\\.[0-9]+$|^v30\\.[0-9]+$"))]')
          echo "TAGS_JSON=${TAGS_JSON}" >> $GITHUB_ENV
        shell: bash

      - name: Set output tags
        id: set-tags
        run: |
          echo "::set-output name=tags::${TAGS_JSON}"
        shell: bash

  create-branch:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: ${{fromJson(needs.prepare.outputs.tags)}}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check if branch exists
        id: branch_exists
        uses: GuillaumeFalourd/branch-exists@v1.2
        with:
          branch: ${{ matrix.tag }}

      - name: Create branch if missing
        if: steps.branch_exists.outputs.exists == 'false'
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git checkout -b ${{ matrix.tag }}
          git push origin ${{ matrix.tag }}
